

body {
    margin: 0;
    background: linear-gradient(#1c1c1c, #404040 );
    font-family: 'Dosis',sans-serif;
    color: #fff;
}

 /* NAVBAR */


#navbar {
    padding: 5px;
    display: flex;
    justify-content: space-between;

}

#logo {
    border: solid;
    border-width: thick;
    border-bottom: #1c1c1c;
    padding: 0.25em;
}

.green-letter {
    color: #02bd02;
    font-weight: bold;
}

#menu {
    display: flex;
    list-style: none;
}

#menu a:hover {
    color: #02bd02;
    cursor: pointer;
}

#menu li {
    margin: 1em;
}

a {
    color: #fff;
    text-decoration: none;

}



/* GALLERY */


.img-container{
  width: 300px;
  border: grey solid;
  margin: 5px;
}

.img-container img {
    max-width:100%;
    max-height:100%;
    
}

.img-zoom {
max-width:100%;
max-height:100%;
object-fit: fill;


}

.img-container:hover{
    transform: scale(1.2);
    z-index: 1;
    border: #02bd02 solid;
    
}


#imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1px;
   justify-items: center;


}

#imgs img {
    cursor: pointer;
}

/* CONTACT FORM */

.input {
padding: 12px;
border-radius: 25px;
border: none;
margin-bottom: 0.5em;
font: inherit;
color: #1c1c1c;
background-color: #edebeb;



}

#flex-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("images/EOSR0610 - 3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center
}



#user-form-container{
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom: auto;
    background-color: #1c1c1c;
    border-radius: 10px; 
}

#submit-btn{
    background-color: #02bd02;
    color:#fff;
    float: right;
    border-radius: 10px;
    border: none;
    padding: 3px 6px 3px 6px
}

#submit-btn:hover{
cursor: pointer;
}






#social-container{
display: flex;
margin-top: 1.5em;
justify-content: space-around;
padding-top: 30px;
}

.fa-intagram {
    font-size: 30px;
}

.fa-brands:hover{
    color: #02bd02;
    cursor: pointer;
}

/* RESPONSIVE  */

@media (max-width: 1060px){
    /* contact form background pic disapears */
    #flex-container{
        background-image: none;
        
}
}


@media(max-width:412px){
    
    #flex-container{
        height: 70vh;
    align-items: center;
   
    }

    #imgs{
        grid-template-columns: repeat(1, auto);
    
    }

    #submit-btn{
        width: 100%;  
    }

    #user-form input{
        width: 88%;
    }

}