

body {
   
   margin: 0;
   
    /* background: #333; */
    background: linear-gradient(#1c1c1c, #404040 );
    
    font-family: 'Dosis',
    sans-serif;
    color: #fff;
    
}
 /* NAVBAR */


#navbar {
    padding: 5px;
    display: flex;
    /* border: solid red; */
    justify-content: space-between;

}

#logo {
    border: solid;
    border-width: thick;
    border-bottom: #1c1c1c;
    padding: 0.25em;
}

.green-letter {
    color: #02bd02;
    font-weight: bold;
}

#menu {
    display: flex;
    list-style: none;
    /* border: solid; */

}

#menu a:hover {
    color: #02bd02;
    cursor: pointer;
}

#menu li {
    margin: 1em;
}

a {
    color: #fff;
    text-decoration: none;

}



/* GALLERY */


.img-container{
  width: 300px;
  border: grey solid;
  margin: 5px;
  /* transition: transform 500ms; */
}

.img-container img {
    max-width:100%;
    max-height:100%;
    
}

.img-zoom {
max-width:100%;
max-height:100%;

}

.img-container:hover{
    transform: scale(1.5);
    z-index: 1;
    
}


.imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.imgs img {
    cursor: pointer;
    /* border: white solid; */
}

/* CONTACT FORM */

.input {
padding: 12px;
border-radius: 25px;
border: none;
margin-bottom: 0.5em;
/* margin: 0.5em; */
font: inherit;
color: #1c1c1c;
/* background: linear-gradient(right, grey, white); */
background-color: #edebeb;



}

#flex-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    /* border: solid yellow; */
    /* background-image: url("images/jason-wong-uBn9T18v4iU-unsplash.jpg"); */

}

#user-form-container{
    /* border: solid red; */
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top:10em;
    margin-bottom: 15em;
    background-color: #1c1c1c;
    border-radius: 10px; 
}

#user-form{
    
    
    
    /* margin-left: 190px;
    padding: 150px;
    align-self: auto; */
}

#contact-img{
    /* opacity: 20%; */
    
}

#social-container{
border: #02bd02;
}

.fa-intagram {
    size: 20px;
}